
*{
    margin: 0;
}

main {
    margin: 10%;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px; 
}

.botones {
    float: left;
    margin: 50px;
    width: 200px;
    height: 200px;
    border: dashed white;

    
}
  
   
.text {
    background-color: rgb(179, 223, 22);
    width: 400px;
    height: 200px;
    float: right;
    border-top-right-radius: 25%;  
    border-bottom-left-radius: 25%;
    padding: 10px;
    
}

#cont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(89, 192, 80);
    /* border-radius: 0 25% 0 25%;  */ 
    border-top-right-radius: 25%;  
    border-bottom-left-radius: 25%;
    padding: 5px;
    margin-top: 10%;
    width: 75%;
    height: 25%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
button{
    border-radius: 10%;
    font-size: 15px;
    font-weight: 300;
    margin: 3px;
    width: 120px;
    height: 40px; 
     
}

label {
    margin-right: 20px;
    color: aliceblue;
}

h1 {
    text-align: right;
    margin-right: 10%;
}

span {
    background-color: aliceblue;
    width: 40px;
    height: 20px;
    border-radius: 10%;
}

#aument {
    margin-top: 20%;
    background-color: green;
}

#dismi {
    background-color: blue;
}
  
