/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #250101;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilo del encabezado */
header {
    background: linear-gradient(rgb(255, 174, 0), yellow, yellow, yellow, rgb(255, 174, 0), red);
    color: #000000;
    padding: 10px;
    text-align: center; 
}
.image, .title {
    display: inline-block;
    vertical-align: middle;
}
nav {
    background-color: #fa0505;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover {
    color: #000000;
}
h1 {
    font-size: 36px;
    margin: 0;
    padding: 10px 0;

/* Estilo del contenido principal */
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
main {
    padding: 20px;
    padding-bottom: 50px;
    min-height: 100%;
}
section {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}
h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

  
/* Estilo del pie de página */
footer {
    background-color: #6e0000;
    color: #fff;
    padding: 1px;
    text-align: center;

    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}