html{
    background-color: aqua;
}
header{
    display: inline;
    vertical-align: middle;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; 
    
    background-color: rgba(255, 174, 0, 0.589);
    height: 50px;
    color: black;  
    align-items: middle;
}
.image, .title {
    display: inline-block;
    vertical-align: middle;
  }
nav>li{
    font-size: x-large;
    line-height: 20%;
    float: left;
}
li:hover{
    cursor: pointer;
    background-color: rgb(112, 153, 15);
    color: white;
}
nav{
    background-color: aquamarine;
    height: 50px;
    text-align: center;
    vertical-align: middle;   
}
form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}
input{
    position: relative; left: 310px;
}
label{
    position: relative; left: 300px;
}
li{ font-style: italic, bold;
    color: rgb(227, 227, 240);
    font-size: xx-large;
    display: inline; 
    padding-left:10px;
    padding-right:10px;   
    list-style-position: inside;               
}


