/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #250101;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Estilo del encabezado */
header {
    background: linear-gradient( rgb(255, 174, 0), yellow, yellow, rgb(255, 174, 0), red);
    color: #000000;
    padding: 30px;
    text-align: center; 
}
.image, .title1, .title2 {
    display: inline-block;
    vertical-align: middle;
}
nav {
    background-color: #fa0505;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover {
    color: #000000;
}
h1 {
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
}
h2 {
    font-size: 24px;
    margin: 0;
    padding: 10px 0;
}
h3 {
    font-size: 16px;
    margin: 0;
    padding: 10px 0;
}

form{
    position: relative; left: 20%;
    padding-top: 2%;
    padding-right: 20%;
    padding-bottom: 20%;
    padding-left: 20%;
    
    
    
}

/* Estilo del pie de página */
footer {
    background-color: #6e0000;
    color: #fff;
    padding: 1px;
    text-align: center;

    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}