.clock {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
  }
  
  .dial {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .hand {
    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: center center;
    display: block;
  }
  
  .hora {
    z-index: 1;
  }
  
  .minuto {
    z-index: 2;
  }
  
  .segundo {
    z-index: 3;
  }
  
        